p {
font-family: 'Courier New', Courier;
font-size: 25px;
color: rgb(57, 92, 124);
}

.parrafotitulo {
    font-family: 'Courier New', Courier;
    font-size: 25px;
    color: rgb(165, 6, 6);
    }

    img.p{
        border-radius: 55%;
    }