p {
font-family: 'Courier New', Courier;
font-size: 25px;
color: rgb(10, 151, 10);
}

.parrafotitulo {
    font-family: 'Courier New', Courier;
    font-size: 25px;
    color: rgb(17, 107, 21);
    }

    img-p{
        border-radius: 100%;
    }